@using Automarket.Domain.Entity
@using Automarket.Domain.Enum;
@using System.Text.RegularExpressions;
@using Automarket.Domain.Enum.ConsumableType;
@using Automarket.Domain.Extensions;
@using Automarket.Domain.ViewModels.AdminPanel;
@model AdminPanelViewModel

@{
    var ckecked = Model.Appointments.Where(appointment => appointment.Checked);
    var unckecked = Model.Appointments.Except(ckecked);
}

<div class="adminpanel_container">
    <h2 class="consumables_title">SecAuto Admin Panel</h2>
    <a asp-controller="AutoService" asp-action="CreateAppointment" class="add_item_admin add_account">Add New</a>

    <section>
        <div class="header_search_form search_account_form">
            <form class="search_form" onsubmit="event.preventDefault(); searchAppointmentsAdmin();">
                <input class="search_input search_account" id="appointmentsSearch" type="text" placeholder="Search...">
                <button class="search_button" type="submit">Find</button>
            </form>
        </div>
    </section>
</div>

<table class="users_table">
    <thead>
        <tr class="user_info_titles">
            <th class="user_info user_info_header" id="completedHeader">Completed</th>
            <th class="user_info user_info_header" id="uncompletedHeader">Uncompleted</th>
            <th class="user_info user_info_header" id="callbackHeader">Waiting for callback</th>
            <th class="user_info user_info_header" id="allAppointmentsHeader">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="users_info_tr items_info_tr">
            <td class="user_info">@Model.Appointments.Count(a => a.Checked)</td>
            <td class="user_info">@Model.Appointments.Count(a => !a.Checked)</td>
            <td class="user_info">@Model.Appointments.Count(a => !a.Checked && a.CallBack)</td>
            <td class="user_info">@Model.Appointments.Count()</td>
        </tr>
    </tbody>
</table>

<table class="users_table" id="appointmentsTable">
    <thead>
        <tr class="user_info_titles">
            <th class="user_info">ID</th>
            <th class="user_info">Name</th>
            <th class="user_info">Call back</th>
            <th class="user_info">Phone Number</th>
            <th class="user_info">Date</th>
            <th class="user_info">Overview</th>
            <th class="user_info">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model.Appointments.OrderBy(appointment => appointment.Checked))
        {
            @if (!appointment.Checked)
            {
                <tr class="users_info_tr items_info_tr @(appointment.CallBack ? "CallBack_True" : "") @(appointment.Checked ? "Completed" : "")">
                    <td class="user_info">@appointment.Id</td>
                    <td class="user_info">@appointment.Name</td>
                    <td class="user_info">@appointment.CallBack</td>
                    <td class="user_info">@appointment.PhoneNumber</td>
                    <td class="user_info">@appointment.AppointmentDate</td>
                    <td>
                        <a class="edit_items admin_panel_buttons" asp-controller="AutoService"
                           asp-action="GetAppointment" asp-route-id="@appointment.Id">
                            <span>Check</span>
                        </a>
                    </td>
                    <td>
                        <a class="delete_item delete_items_button admin_panel_buttons" data-appointments-id="@appointment.Id">
                            <span>Delete</span>
                        </a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="users_info_tr items_info_tr unavalible_admin_item @(appointment.CallBack ? "CallBack_True" : "") @(appointment.Checked ? "Completed" : "")">
                    <td class="user_info">@appointment.Id</td>
                    <td class="user_info">@appointment.Name</td>
                    <td class="user_info">@appointment.CallBack</td>
                    <td class="user_info">@appointment.PhoneNumber</td>
                    <td class="user_info">@appointment.AppointmentDate</td>
                    <td>
                        <a class="edit_items admin_panel_buttons" asp-controller="AutoService"
                           asp-action="GetAppointment" asp-route-id="@appointment.Id">
                            <span>Check</span>
                        </a>
                    </td>
                    <td>
                        <a class="delete_item delete_items_button admin_panel_buttons" data-appointments-id="@appointment.Id">
                            <span>Delete</span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>