@using Automarket.Domain.Enum
@using Automarket.Domain.ViewModels.AutoService
@using Automarket.Service.Interfaces
@model MaintenanceViewModel

@inject IAppointmentService AppointmentService

@{
    ViewData["Title"] = "Maintenance";
    bool admin = User.IsInRole("Administrator") || User.IsInRole("Admin");
    var appointment = await AppointmentService.GetAppointment((Int64)Model.AppointmentId);
    var name = appointment.Data.Name;

    if (TempData["AlertMessage"] != null && TempData["ResponseStatus"] != null)
    {
        var alertMessage = TempData["AlertMessage"].ToString();
        var responseStatus = TempData["ResponseStatus"].ToString();

        if (responseStatus == StatusCode.OK.ToString())
        {
            <script>
                showSuccessAlert("@alertMessage");
            </script>
        }
        else
        {
            <script>
                showErrorAlert("@alertMessage");
            </script>
        }
    }
}

<div class="consumables_container">
    <div class="maintenance_container">
        <h2 class="maintenance_title" style="margin-top:90px; margin-bottom:-70px">Maintenance #@Model.Id</h2>
        <div class="maintenance_date_container">
            <span class="maintenance_date">@Model.CreationDate.ToString("yyyy/MM/dd HH:mm")</span>
            <hr class="date_hr">
            <span class="maintenance_date">@Model.CompletionTime.ToString("yyyy/MM/dd HH:mm")</span>            
        </div>
        <div class="maintenance_name_container">
            <span class="maintenance_name">@name</span>
            <span class="maintenance_name">SecAuto</span>
        </div>
        <div class="maintenance_service_container">
            @switch (Model.Stage)
            {
                case ServiceStage.Pending:
                    <hr class="service_pending_hr">
                    <div class="service_pending_circle1"></div>
                    <div class="service_pending_circle2"></div>
                    <div class="service_pending_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 512 512" id="service"><path d="M242.99,256.98a6.755,6.755,0,0,1,.445-9.231l3.8-3.749H155.479c-3.866,0-7.479-3.216-7.479-7.083V194.569c0-3.866,3.613-6.569,7.479-6.569H261.768c3.866,0,7.232,2.7,7.232,6.569v27.857l2.3-2.42a6.852,6.852,0,0,1,9.3-.448l18.544,15.349a111.283,111.283,0,0,1,28.756-12.134l2.337-24.234A7.191,7.191,0,0,1,337.2,192H376.5a7.217,7.217,0,0,1,7,6.539l2.366,24.343c1.03.273,2.136.571,3.136.876v-39.9A32.8,32.8,0,0,0,378.681,160.1c-.1-.1-.262-.139-.361-.244L369.914,151H51.936L40.068,161.829c-.077.072-.246.019-.328.088A32.867,32.867,0,0,0,28,186.889V272H255.6ZM88.355,244H81.866a28.5,28.5,0,1,1,0-57h6.489a28.5,28.5,0,1,1,0,57Z"></path><rect width="61" height="38" x="28" y="286"></rect><path d="M88.355 201H81.866a14.5 14.5 0 1 0 0 29h6.489a14.5 14.5 0 1 0 0-29zM336.55 64.758A19.61 19.61 0 0 0 318.265 52H104.283A19.61 19.61 0 0 0 86 64.758L59.242 137H363.305z"></path><rect width="93" height="28" x="162" y="202"></rect><path d="M356.709,305.7a27.6,27.6,0,1,0,27.655,27.6A27.661,27.661,0,0,0,356.709,305.7Z"></path><path d="M356.709,264.23A69.074,69.074,0,1,0,425.9,333.3,69.21,69.21,0,0,0,356.709,264.23Zm0,110.678a41.6,41.6,0,1,1,41.655-41.6A41.677,41.677,0,0,1,356.709,374.908Z"></path><path d="M454.646,312.349a97.459,97.459,0,0,0-14.1-33.368,7,7,0,0,1,.44-8.345l14.561-17.565L437.11,234.44l-17.51,14.5a7,7,0,0,1-8.252.474,101.075,101.075,0,0,0-33.485-14.153,7.124,7.124,0,0,1-5.509-6.278L370.148,206h-26.6l-2.207,22.988a7.251,7.251,0,0,1-5.5,6.382,97.416,97.416,0,0,0-33.417,14.052,7,7,0,0,1-8.329-.45l-17.539-14.544-18.713,18.68L272.4,270.639a7,7,0,0,1,.494,8.288,101.411,101.411,0,0,0-14.111,33.451,6.918,6.918,0,0,1-6.089,5.449L230,320.035v26.538l22.689,2.208a6.84,6.84,0,0,1,6.026,5.477,97.423,97.423,0,0,0,14.1,33.366,7,7,0,0,1-.44,8.343L257.842,413.5l18.718,18.677,17.541-14.55a7,7,0,0,1,8.252-.511,100.855,100.855,0,0,0,33.483,14.077,6.95,6.95,0,0,1,5.509,6.126L343.552,460h26.6l2.206-22.684a6.9,6.9,0,0,1,5.5-6.078,97.473,97.473,0,0,0,33.418-14.052,7,7,0,0,1,8.332.45l17.543,14.544,18.723-18.68-14.524-17.531a7,7,0,0,1-.454-8.288,101.612,101.612,0,0,0,14.19-33.452,7.1,7.1,0,0,1,6.241-5.448L484,346.58V320.035l-23.008-2.208A7.212,7.212,0,0,1,454.646,312.349ZM356.709,416.377A83.074,83.074,0,1,1,439.9,333.3,83.224,83.224,0,0,1,356.709,416.377Z"></path></svg>
                    </div>
                    break;
                case ServiceStage.Diagnostics:
                    <hr class="service_diagnostics_hr1">
                    <hr class="service_diagnostics_hr2">
                    <div class="service_diagnostics_circle1"></div>
                    <div class="service_diagnostics_circle2"></div>
                    <div class="service_diagnostics_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 512 512" id="service"><path d="M242.99,256.98a6.755,6.755,0,0,1,.445-9.231l3.8-3.749H155.479c-3.866,0-7.479-3.216-7.479-7.083V194.569c0-3.866,3.613-6.569,7.479-6.569H261.768c3.866,0,7.232,2.7,7.232,6.569v27.857l2.3-2.42a6.852,6.852,0,0,1,9.3-.448l18.544,15.349a111.283,111.283,0,0,1,28.756-12.134l2.337-24.234A7.191,7.191,0,0,1,337.2,192H376.5a7.217,7.217,0,0,1,7,6.539l2.366,24.343c1.03.273,2.136.571,3.136.876v-39.9A32.8,32.8,0,0,0,378.681,160.1c-.1-.1-.262-.139-.361-.244L369.914,151H51.936L40.068,161.829c-.077.072-.246.019-.328.088A32.867,32.867,0,0,0,28,186.889V272H255.6ZM88.355,244H81.866a28.5,28.5,0,1,1,0-57h6.489a28.5,28.5,0,1,1,0,57Z"></path><rect width="61" height="38" x="28" y="286"></rect><path d="M88.355 201H81.866a14.5 14.5 0 1 0 0 29h6.489a14.5 14.5 0 1 0 0-29zM336.55 64.758A19.61 19.61 0 0 0 318.265 52H104.283A19.61 19.61 0 0 0 86 64.758L59.242 137H363.305z"></path><rect width="93" height="28" x="162" y="202"></rect><path d="M356.709,305.7a27.6,27.6,0,1,0,27.655,27.6A27.661,27.661,0,0,0,356.709,305.7Z"></path><path d="M356.709,264.23A69.074,69.074,0,1,0,425.9,333.3,69.21,69.21,0,0,0,356.709,264.23Zm0,110.678a41.6,41.6,0,1,1,41.655-41.6A41.677,41.677,0,0,1,356.709,374.908Z"></path><path d="M454.646,312.349a97.459,97.459,0,0,0-14.1-33.368,7,7,0,0,1,.44-8.345l14.561-17.565L437.11,234.44l-17.51,14.5a7,7,0,0,1-8.252.474,101.075,101.075,0,0,0-33.485-14.153,7.124,7.124,0,0,1-5.509-6.278L370.148,206h-26.6l-2.207,22.988a7.251,7.251,0,0,1-5.5,6.382,97.416,97.416,0,0,0-33.417,14.052,7,7,0,0,1-8.329-.45l-17.539-14.544-18.713,18.68L272.4,270.639a7,7,0,0,1,.494,8.288,101.411,101.411,0,0,0-14.111,33.451,6.918,6.918,0,0,1-6.089,5.449L230,320.035v26.538l22.689,2.208a6.84,6.84,0,0,1,6.026,5.477,97.423,97.423,0,0,0,14.1,33.366,7,7,0,0,1-.44,8.343L257.842,413.5l18.718,18.677,17.541-14.55a7,7,0,0,1,8.252-.511,100.855,100.855,0,0,0,33.483,14.077,6.95,6.95,0,0,1,5.509,6.126L343.552,460h26.6l2.206-22.684a6.9,6.9,0,0,1,5.5-6.078,97.473,97.473,0,0,0,33.418-14.052,7,7,0,0,1,8.332.45l17.543,14.544,18.723-18.68-14.524-17.531a7,7,0,0,1-.454-8.288,101.612,101.612,0,0,0,14.19-33.452,7.1,7.1,0,0,1,6.241-5.448L484,346.58V320.035l-23.008-2.208A7.212,7.212,0,0,1,454.646,312.349ZM356.709,416.377A83.074,83.074,0,1,1,439.9,333.3,83.224,83.224,0,0,1,356.709,416.377Z"></path></svg>
                    </div>
                    break;
                case ServiceStage.Service:
                    <hr class="service_service_hr1">
                    <hr class="service_service_hr2">
                    <div class="service_service_circle1"></div>
                    <div class="service_service_circle2"></div>
                    <div class="service_service_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 512 512" id="service"><path d="M242.99,256.98a6.755,6.755,0,0,1,.445-9.231l3.8-3.749H155.479c-3.866,0-7.479-3.216-7.479-7.083V194.569c0-3.866,3.613-6.569,7.479-6.569H261.768c3.866,0,7.232,2.7,7.232,6.569v27.857l2.3-2.42a6.852,6.852,0,0,1,9.3-.448l18.544,15.349a111.283,111.283,0,0,1,28.756-12.134l2.337-24.234A7.191,7.191,0,0,1,337.2,192H376.5a7.217,7.217,0,0,1,7,6.539l2.366,24.343c1.03.273,2.136.571,3.136.876v-39.9A32.8,32.8,0,0,0,378.681,160.1c-.1-.1-.262-.139-.361-.244L369.914,151H51.936L40.068,161.829c-.077.072-.246.019-.328.088A32.867,32.867,0,0,0,28,186.889V272H255.6ZM88.355,244H81.866a28.5,28.5,0,1,1,0-57h6.489a28.5,28.5,0,1,1,0,57Z"></path><rect width="61" height="38" x="28" y="286"></rect><path d="M88.355 201H81.866a14.5 14.5 0 1 0 0 29h6.489a14.5 14.5 0 1 0 0-29zM336.55 64.758A19.61 19.61 0 0 0 318.265 52H104.283A19.61 19.61 0 0 0 86 64.758L59.242 137H363.305z"></path><rect width="93" height="28" x="162" y="202"></rect><path d="M356.709,305.7a27.6,27.6,0,1,0,27.655,27.6A27.661,27.661,0,0,0,356.709,305.7Z"></path><path d="M356.709,264.23A69.074,69.074,0,1,0,425.9,333.3,69.21,69.21,0,0,0,356.709,264.23Zm0,110.678a41.6,41.6,0,1,1,41.655-41.6A41.677,41.677,0,0,1,356.709,374.908Z"></path><path d="M454.646,312.349a97.459,97.459,0,0,0-14.1-33.368,7,7,0,0,1,.44-8.345l14.561-17.565L437.11,234.44l-17.51,14.5a7,7,0,0,1-8.252.474,101.075,101.075,0,0,0-33.485-14.153,7.124,7.124,0,0,1-5.509-6.278L370.148,206h-26.6l-2.207,22.988a7.251,7.251,0,0,1-5.5,6.382,97.416,97.416,0,0,0-33.417,14.052,7,7,0,0,1-8.329-.45l-17.539-14.544-18.713,18.68L272.4,270.639a7,7,0,0,1,.494,8.288,101.411,101.411,0,0,0-14.111,33.451,6.918,6.918,0,0,1-6.089,5.449L230,320.035v26.538l22.689,2.208a6.84,6.84,0,0,1,6.026,5.477,97.423,97.423,0,0,0,14.1,33.366,7,7,0,0,1-.44,8.343L257.842,413.5l18.718,18.677,17.541-14.55a7,7,0,0,1,8.252-.511,100.855,100.855,0,0,0,33.483,14.077,6.95,6.95,0,0,1,5.509,6.126L343.552,460h26.6l2.206-22.684a6.9,6.9,0,0,1,5.5-6.078,97.473,97.473,0,0,0,33.418-14.052,7,7,0,0,1,8.332.45l17.543,14.544,18.723-18.68-14.524-17.531a7,7,0,0,1-.454-8.288,101.612,101.612,0,0,0,14.19-33.452,7.1,7.1,0,0,1,6.241-5.448L484,346.58V320.035l-23.008-2.208A7.212,7.212,0,0,1,454.646,312.349ZM356.709,416.377A83.074,83.074,0,1,1,439.9,333.3,83.224,83.224,0,0,1,356.709,416.377Z"></path></svg>
                    </div>
                    break;
                case ServiceStage.Done:
                    <hr class="service_done_hr">
                    <div class="service_done_circle1"></div>
                    <div class="service_done_circle2"></div>
                    <div class="service_done_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 512 512" id="service"><path d="M242.99,256.98a6.755,6.755,0,0,1,.445-9.231l3.8-3.749H155.479c-3.866,0-7.479-3.216-7.479-7.083V194.569c0-3.866,3.613-6.569,7.479-6.569H261.768c3.866,0,7.232,2.7,7.232,6.569v27.857l2.3-2.42a6.852,6.852,0,0,1,9.3-.448l18.544,15.349a111.283,111.283,0,0,1,28.756-12.134l2.337-24.234A7.191,7.191,0,0,1,337.2,192H376.5a7.217,7.217,0,0,1,7,6.539l2.366,24.343c1.03.273,2.136.571,3.136.876v-39.9A32.8,32.8,0,0,0,378.681,160.1c-.1-.1-.262-.139-.361-.244L369.914,151H51.936L40.068,161.829c-.077.072-.246.019-.328.088A32.867,32.867,0,0,0,28,186.889V272H255.6ZM88.355,244H81.866a28.5,28.5,0,1,1,0-57h6.489a28.5,28.5,0,1,1,0,57Z"></path><rect width="61" height="38" x="28" y="286"></rect><path d="M88.355 201H81.866a14.5 14.5 0 1 0 0 29h6.489a14.5 14.5 0 1 0 0-29zM336.55 64.758A19.61 19.61 0 0 0 318.265 52H104.283A19.61 19.61 0 0 0 86 64.758L59.242 137H363.305z"></path><rect width="93" height="28" x="162" y="202"></rect><path d="M356.709,305.7a27.6,27.6,0,1,0,27.655,27.6A27.661,27.661,0,0,0,356.709,305.7Z"></path><path d="M356.709,264.23A69.074,69.074,0,1,0,425.9,333.3,69.21,69.21,0,0,0,356.709,264.23Zm0,110.678a41.6,41.6,0,1,1,41.655-41.6A41.677,41.677,0,0,1,356.709,374.908Z"></path><path d="M454.646,312.349a97.459,97.459,0,0,0-14.1-33.368,7,7,0,0,1,.44-8.345l14.561-17.565L437.11,234.44l-17.51,14.5a7,7,0,0,1-8.252.474,101.075,101.075,0,0,0-33.485-14.153,7.124,7.124,0,0,1-5.509-6.278L370.148,206h-26.6l-2.207,22.988a7.251,7.251,0,0,1-5.5,6.382,97.416,97.416,0,0,0-33.417,14.052,7,7,0,0,1-8.329-.45l-17.539-14.544-18.713,18.68L272.4,270.639a7,7,0,0,1,.494,8.288,101.411,101.411,0,0,0-14.111,33.451,6.918,6.918,0,0,1-6.089,5.449L230,320.035v26.538l22.689,2.208a6.84,6.84,0,0,1,6.026,5.477,97.423,97.423,0,0,0,14.1,33.366,7,7,0,0,1-.44,8.343L257.842,413.5l18.718,18.677,17.541-14.55a7,7,0,0,1,8.252-.511,100.855,100.855,0,0,0,33.483,14.077,6.95,6.95,0,0,1,5.509,6.126L343.552,460h26.6l2.206-22.684a6.9,6.9,0,0,1,5.5-6.078,97.473,97.473,0,0,0,33.418-14.052,7,7,0,0,1,8.332.45l17.543,14.544,18.723-18.68-14.524-17.531a7,7,0,0,1-.454-8.288,101.612,101.612,0,0,0,14.19-33.452,7.1,7.1,0,0,1,6.241-5.448L484,346.58V320.035l-23.008-2.208A7.212,7.212,0,0,1,454.646,312.349ZM356.709,416.377A83.074,83.074,0,1,1,439.9,333.3,83.224,83.224,0,0,1,356.709,416.377Z"></path></svg>
                    </div>
                    break;
                default:
                    <span class="service_status_text">Unknown status</span>
                    break;                    
            }    
            <span class="service_status_text">Service status: @Model.Stage</span>
        </div>
    </div>
</div>